.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50px;
}

.information__heading {
  margin-bottom: 20px;
}

.information__logo {
  height: 25px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .information {
    padding: 20px 50px;
  }
}
