.noContent {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noContent > h2 {
  margin-bottom: 10px;
}

.noContent > p {
  margin-bottom: 20px;
}

.noContent__img {
  width: 40%;
}

@media (max-width: 768px) {
  .noContent__img {
    width: 80%;
  }
}
