.errorpath {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
}

.errorpath__left {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.errorpath__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorpath__right > img {
  max-width: 100%;
  width: 80%;
}

@media (max-width: 992px) {
  .errorpath__left {
    width: 100%;
    margin-top: 50px;
  }
  .errorpath__right {
    width: 100%;
  }
}
