.dashboard {
  display: flex;
  flex-direction: row;
  background: var(--bg-color);
  overflow-y: scroll;
  height: 100%;
}

.dashboard__sidebar {
  position: sticky;
  top: 0;
}

.dashboard__container {
  margin: 25px;
  flex: 1;
}

.dashboard__icon {
  height: 20px;
  width: auto;
}

.dashboard__iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.dashboard__iconWrapper:hover {
  background: var(--light);
}

.dashboard__header {
  display: flex;
}
