.dashboard {
  display: flex;
  flex-direction: row;
  background: var(--bg-color);
  overflow-y: scroll;
  height: 100%;
}

.dashboard__sidebar {
  height: 100%;
}

.dashboard__container {
  margin: 25px;
  flex: 1;
}

.dashboard__icon {
  height: 15px;
  width: 15px;
  margin-top: 4px;
  margin-right: 10px;
}

.dashboard__icon:hover {
  color: var(--pri-color);
}

.dashboard__header {
  display: flex;
}
