.card {
  height: 220px;
  width: 370px;
  border-radius: 15px;
  background: var(--light);
  margin: 20px 0 40px;
  display: flex;
  flex-direction: column;
  color: var(--light);
  background: #00c9ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #9cebf6 0%,
    #7845ea 45%,
    #7845ea 50%,
    #a2ddfc 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #9cebf6 0%,
    #7845ea 45%,
    #7845ea 50%,
    #a2ddfc 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: all 0.3s ease-in-out;
}

.card__header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 5px 20px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 0 0 15px 15px;
  padding: 0 20px 25px 20px;
}

.card__icon {
  font-size: 2rem;
  color: white;
}

.card__heading {
  font-size: 1em;
  line-height: 0;
  padding: 5px 0;
  color: var(--light-grey);
}

.card--transform {
  transform: rotate(90deg);
}

.card_balanceNumber {
  font-size: 2em;
  font-weight: 700;
}

.card--iconLarge {
  font-size: 3rem;
}
