.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 99;
}

.modal__content {
  background-color: var(--light);
  padding: 20px;
  border-radius: 15px;
  z-index: 100;
}
