.forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 100%;
}

.forgot__left {
  width: 50%;
}

.forgot__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 300px;
}

.forgot__form {
  display: flex;
  flex-direction: column;
}

.forgot__form > .btn {
  margin: 25px 0;
}

.forgot__login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .forgot__left {
    width: 100%;
  }
  .forgot__right {
    width: 100%;
  }
}
