.home {
  display: flex;
  flex-flow: row wrap;
}

.home__right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home__left {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.home__empty {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__emptyBtn {
  margin: 20px 0;
}

.home__emptyImg {
  width: 30%;
}

@media (max-width: 768px) {
  .home__emptyImg {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .home__emptyImg {
    width: 50%;
  }
}
