.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light);
  height: 100%;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.sidebar__logo {
  height: 25px;
}

.sidebar__links {
  flex: 1;
}

.sidebar__link {
  color: var(--grey) !important;
  font-weight: 400 !important;
  display: flex;
  flex-direction: row;
  padding: 20px 85px;
  width: 250px;
  align-items: center;
}

.active,
.sidebar__item:hover .sidebar__link,
.active .sidebar__icons,
.sidebar__item:hover .sidebar__icons {
  color: var(--pri-color) !important;
}

.sidebar__btn {
  margin-bottom: 10px;
}

.sidebar__icons {
  height: 15px;
  margin-right: 10px;
  width: 15px;
  color: var(--grey);
}
