.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.sidebar__title {
  margin: 20px 0;
}

.sidebar__links {
  flex: 1;
  width: 100%;
}

.sidebar__link {
  padding: 20px 0 20px 70px;
}

.sidebar__link > a {
  color: var(--grey);
  font-weight: 400;
}

.active {
  border-left: 4px solid var(--pri-color);
  color: var(--pri-color);
  background: linear-gradient(120deg, rgba(68, 96, 241, 0.2), rgba(0, 0, 0, 0));
}
